.container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;

}
.c1,.c2,.c3,.c4{
    background-color: aqua;
    border: 3px solid black;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .container{
        grid-template-columns: repeat(2,auto);
    }
    
}
@media screen and (max-width: 399px) {
    .container{
        grid-template-columns: repeat(1,auto);
    }
    
}