*{
    margin: 0px;
    padding: 0px;
}
.Captain{
    background-color: rgb(255, 128, 0);
    display: flex;
    justify-content: space-;
    padding: 30px;
    /* align-items: center; */
}
.Captain ul{
    list-style: none;
    display: flex;
    gap: 30px;
    
}
