.wrap{
    background-color: red;
    display: grid;
    height: 100vh;
    grid-template-columns: auto 300px auto ;
    grid-template-rows: auto 500px;
    gap: 40px;
}
.c1,.c2,.c3,.c4{
    background-color: yellowgreen;
    border: 5px solid black;
}
.c1{
    grid-column-start: 1;
    grid-column-end: 3;
}
/* .c4{
    grid-column-start: 2;
    grid-column-end: 4;
} */
.c2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}