.container{
    background-color: chartreuse;
    padding: 20px;
    margin: 60px;
    margin-bottom: 60px;
    /* border: 10px double blue; */
    /* border-radius: 40px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 6px 10px 5px red;
    
}